<!doctype html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7" lang=""> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8" lang=""> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9" lang=""> <![endif]-->
<!--[if gt IE 8]><!--> 
<!--[if gt IE 8]><!--> <html class="no-js" lang="" ng-app="app"> <!--<![endif]-->
    <head>
        <meta http-equiv="refresh" content="900">
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>SENAI MT - Painel de Resultados</title>

        <link rel="apple-touch-icon" href="apple-touch-icon.png">
        <link rel="stylesheet" href="fonts/font-awesome-4.7.0/css/font-awesome.min.css">
        <link rel="stylesheet" href="css/bootstrap.min.css">
        <link rel="stylesheet" href="css/main.css">
        <link rel="stylesheet" href="css/bootstrap-theme.min.css">
        <link type="text/css" rel="stylesheet" href="css/materialize/css/materialize.min.css"  media="screen,projection"/>
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/3.5.2/animate.min.css">
        

            <!--[if lt IE 9]>
                <script src="js/vendor/html5-3.6-respond-1.4.2.min.js"></script>
                <![endif]-->
    </head>
    <body ng-controller="pessoaCtrl as vm">
{{vm.form.pessoa}}        {{vm.msg}}
        <div class="row">

            <div class='col-md-12'>
                <input type="text" ng-model='vm.form.pessoa.CODIGO' placeholder="Digite o código">
                <input type="text" ng-model='vm.form.pessoa.NOME' placeholder="Digite o nome completo">
                <input type="text" ng-model='vm.form.pessoa.CPF' placeholder="Digite o cpf">
                <input type="text" ng-model='vm.form.pessoa.DATA_NASCIMENTO' placeholder="Digite o DATA_NASCIMENTO">
                <input type="text" ng-model='vm.form.pessoa.LOGIN_CODIGO' placeholder="Digite o LOGIN_CODIGO">

                <button class="btn btn-info" ng-click='vm.savePessoa( vm.form.pessoa.NOME,vm.form.pessoa.CPF, vm.form.pessoa.DATA_NASCIMENTO, vm.form.pessoa.LOGIN_CODIGO)'>Salvar</button>
            </div>


            <div class='col-md-12'>
                <table class="table table-condensed">
                    <thead>
                        <tr>
                            <th>#</th>
                            <th>Nome</th>
                            <th>CPF</th>
                            <th>DATA_NASCIMENTO</th>
                            <th>LOGIN_CODIGO</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr class='cursor-pointer' ng-repeat='item in vm.listPessoa' ng-click='vm.getItemPessoa(item)'>
                            <td>{{item.CODIGO}}</td>
                            <td>{{item.NOME}}</td>
                            <td>{{item.CPF}}</td>
                            <td>{{item.DATA_NASCIMENTO}}</td>
                            <td>{{item.LOGIN_CODIGO}}</td>
                        </tr>
                    </tbody>
                </table>
            </div>


        </div>
        

        <script src="js/vendor/modernizr-2.8.3-respond-1.4.2.min.js"></script>
        <script>window.jQuery || document.write('<script src="js/vendor/jquery-1.11.2.min.js"><\/script>')</script>
        
        <script src="js/vendor/bootstrap.min.js"></script>
        <script src="js/plugins.js"></script>
        <script src="js/vendor/underscore-min.js"></script>

        <script src="js/vendor/angular.min.js"></script>
        <script src="js/vendor/angular-animate.min.js"></script>
        <script src="js/vendor/angular.locale.pt-br.js"></script>
        <script src="js/vendor/moment-with-locales.js"></script>
        
        <script src="js/vendor/countdown.min.js"></script>
        <!-- <script src="js/vendor/jquery.marquee.min.js"></script> -->
        <script src="js/vendor/jquery.number.min.js"></script>
        <script src="//cdn.jsdelivr.net/jquery.marquee/1.4.0/jquery.marquee.min.js" type="text/javascript"></script>

        <script src="js/app.js"></script>
        <script src="js/service/utilSvc.js"></script>
        <script src="js/service/dashboardSvc.js"></script>
        <script src="js/service/pessoaSvc.js"></script>
        <script src="js/controller/dashboardCtrl.js"></script>
        <script src="js/controller/pessoaCtrl.js"></script>

    </body>
</html>
