<div class="col m12" ng-show='vm.visualizacaoPainel == "DADOS"'>
    <div class="bar-title4 font-title truncate">CONTAGEM REGRESSIVA</div>

        <div class="pd30 col s12">
            <div class="mg-l-10 card-height3 card horizontal z-depth-5">
                
                <div class="card-image">
                    <img src="img/ctg_regressiva01.png" height="540">
                </div>
                
                

                <div class="card-stacked">
                    <div class="card-content custom">
                        
                        <div class="col m12 bar-bottom">
                            <p class="label6 col m8">CÁCERES-MT</p>
                            <p class="label6 col m4 text-center">23/11</p>
                            <h4 class="custom text-center truncate2 font-bold">
                                <i-countdown set-date="2017-11-23 19:00:00" format-view="Faltam %d dias, %h hrs, %i min e %s segundos" expire-message="Unidade Operacional Inaugurada"></i-countdown>
                            </h4>
                        </div>
                        
                        <!-- 
                        <div class="col m12 bar-bottom color-555">
                            <p class="label10 col m2"></p>
                            <p class="label10 col m4"></p>
                            <p class="label10 col m6 text-right">
                                <i-countdown set-date="" format-view="%d dias, %h hrs, %i min" expire-message="Unidade Operacional Inaugurada"></i-countdown>
                            </p>
                        </div> -->

                        <div class="col m12 bar-bottom color-555">
                            <p class="label10 col m2">07/12</p>
                            <p class="label10 col m4">RONDONÓPOLIS</p>
                            <p class="label10 col m6 text-right">
                                <i-countdown set-date="2017-12-07 19:00:00" format-view="%d dias, %h hrs, %i min" expire-message="Unidade Operacional Inaugurada"></i-countdown>
                            </p>
                        </div>

                        <div class="col m12 color-777">
                            <p class="label10 col m2">25/01</p>
                            <p class="label10 col m4">VÁRZEA GRANDE</p>
                            <p class="label10 col m6 text-right">
                                <i-countdown set-date="2018-01-25 19:00:00" format-view="%d dias, %h hrs, %i min" expire-message="Unidade Operacional Inaugurada"></i-countdown>
                            </p>
                        </div>

                    </div>
                </div>
            </div>
        </div>

        <div class="pd30 col s12 margin-top-8px">
            <div class="mg-l-10 card-height2 card horizontal z-depth-5">
                
                <div class="card-image">
                    <img src="img/ctg_regressiva02.png" height="200">
                </div>
                
                <div class="card-stacked">
                    <div class="card-content custom">
                        <div class="col m12">
                            <p class="label6 text-center">ANO 2017</p>
                            <h4 class="custom text-center truncate2">
                                <i-countdown set-date="2017-12-18 15:30:00" format-view="Faltam %d dias, %h hrs, %i min e %s segundos" expire-message="Acabou o tempo"></i-countdown>
                            </h4>
                        </div>
                    </div>
                </div>
            </div>
        </div>        
        
    </div>
</div>

<div class="col m12" ng-show='vm.visualizacaoPainel == "UNIGEST"'>
    <img src="img/unigest_valores.jpg" height="1080" width="1920">
</div>

<div class="col m12" ng-show='vm.visualizacaoPainel == "UNIGEST_POLITICA"'>
    <img src="img/unigest_politica.jpg" height="1080" width="1920">
</div>

<div class="col m12" ng-show='vm.visualizacaoPainel == "SENAIMT"'>
    <img src="img/senaimt.jpg" height="1080" width="1920">
</div>

<div class="col m12" ng-show='vm.visualizacaoPainel == "DUBAI"'>
    <img src="img/uniep_dubai1.jpg" height="1080" width="1920">
</div>

<div class="col m12" ng-show='vm.visualizacaoPainel == "MERCADO"'>
    <img src="img/unimercado_01.png" height="1080" width="1920">
</div>