<div class="col m12" ng-show='vm.visualizacaoPainel == "DADOS"'>
    <div class="bar-title font-title truncate">MATRÍCULAS E PRODUÇÃO</div>

    <div class="pd30 col s12 m12">
        <div class="mg-l-10 card-height card horizontal z-depth-5">
            
            <div class="card-image">
                <img src="img/alunos.png" height="375">
            </div>
            
            <div class="card-stacked">
                <div class="card-content custom">
                    <div class="col m6">
                        <p class="label text-center">{{vm.totalMatr}}</p>
                        <h4 class="custom text-center"><b>EXECUTADO {{vm.fracaoExecutadoMatricula}}</b></h4>
                    </div>
                    <div class="col m6">
                        <p class="label text-center">{{vm.totalMatrPlanejado}}</p>
                        <h4 class="custom text-center"><b>PLANEJADO</b></h4>
                    </div>
                </div>
                <div class="card-action">
                    <h5 id="MATRI" class="marquee">
                        {{vm.marqueeMatr}}
                    </h5>
                </div>
            </div>
        </div>
    </div>

    <div class="pd-15-30-30-30 col s12 m12">
        <div class="mg-l-10 card-height card horizontal z-depth-5">
            
            <div class="card-image">
                <img src="img/producao.png" height="375">
            </div>
            
            <div class="card-stacked">
                <div class="card-content custom">
                    <div class="col m6">
                        <p class="label2 text-center">{{vm.totalProd}}</p>
                        <h4 class="custom text-center"><b>EXECUTADO {{vm.fracaoExecutadoProducao}}</b></h4>
                    </div>
                    <div class="col m6">
                        <p class="label2 text-center">{{vm.totalProdPlanejado}}</p>
                        <h4 class="custom text-center"><b>PLANEJADO</b></h4>
                    </div>
                </div>
                <div class="card-action">
                    <h5 id="PROD" class="marquee">
                        {{vm.marqueeProd}}
                    </h5>
                </div>
            </div>
        </div>
    </div>

</div>

<div class="col m12" ng-show='vm.visualizacaoPainel == "UNIGEST"'>
    <img src="img/unigest_visao.jpg" height="1080" width="1920">
</div>

<div class="col m12" ng-show='vm.visualizacaoPainel == "UNIGEST_POLITICA"'>
    <img src="img/unigest_politica2.jpg" height="1080" width="1920">
</div>

<div class="col m12" ng-show='vm.visualizacaoPainel == "SENAIMT"'>
    <img src="img/senaimt.jpg" height="1080" width="1920">
</div>

<div class="col m12" ng-show='vm.visualizacaoPainel == "DUBAI"'>
    <img src="img/uniep_dubai2.jpg" height="1080" width="1920">
</div>

<div class="col m12" ng-show='vm.visualizacaoPainel == "MERCADO"'>
    <img src="img/unimercado_02.png" height="1080" width="1920">
</div>